html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

/* Burger Menu Styles */

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 26px;
  height: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #bdbdd5;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #39b4f6;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 32px !important;
  width: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #39b4f6;
  height: 20px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100% !important;
  top: 0;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 1em 0.5em;
  font-size: 1.15em;
}

.bm-menu h1 {
  color: black;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
